select[multiple] {
  height: 10rem;
}

.avatar {
  width: 128px;
  border: 1px solid #ccc;
  margin: 15px;
  padding: 5px;
}

.palestra_pesquisa {
  border-bottom: 1px solid #ccc;
  margin: 15px;
}

.palestra_list {
  list-style: none;
}

.palestra_list h1 {
  font-size: 1.5rem;
}

.palestra_detail video,
.palestra_detail iframe {
  width: 853px;
  max-width: 100%;
  height: 480px;
  display: block;
  margin: 10px auto;
  border: 0;
}
