<!DOCTYPE html>
<html>
  <head>
    <title>Palestrita</title>
    <meta charset="utf-8">
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{% url 'palestra:index' %}">Palestrita</a></h1>
      <nav>
        <ul>
          <li>
            <a href="{% url 'palestra:tipotag_list' %}">Tags</a>
          </li>
        </ul>
        {% include 'palestra/palestra_pesquisa_form.html' %}
      </nav>
    </header>
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
