<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Palestrita</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
      <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    {% endblock %}
    {% block js-head %}
      <script src="{% static 'modernizr/modernizr.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{% url 'palestra:index' %}">Palestrita</a></h1>
      <nav>
        <ul>
          <li>
            <a href="{% url 'palestra:tipotag_list' %}">Tags</a>
          </li>
        </ul>
        {% include 'palestra/palestra_pesquisa_form.html' %}
      </nav>
    </header>
    {% block content %}{% endblock %}
    {% block js %}
      <script src="{% static 'jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'foundation/js/foundation.js' %}"></script>
    {% endblock %}
  </body>
</html>
