{% extends 'palestra/base.html' %}
{% load palestras %}


{% block content %}
  <section>
    <div class="row">
      <div class="small-12 columns palestra_detail">
        <h1>{{ palestra }}</h1>
        <div class="row">
          <div class="small-10 columns">
            {% tags_labels palestra.tags.all %}
          </div>
          <div class="small-2 columns text-right">
            {% videos_links palestra.videos.all %}
          </div>
        </div>
        {% videos_players palestra.videos.all %}
        <ul class="small-block-grid-1 medium-block-grid-2">
          {% for palestrante in palestra.palestrantes.all %}
            <li>
              <a href="{% url 'palestra:palestra_list' %}?palestrante={{ palestrante.slug }}">
                <img class="avatar" src="{{ palestrante.foto_link }}" alt="avatar">
                {{ palestrante }}
              </a><br>
              {{ palestrante.info|linebreaksbr|default:'<i>Sem informações</i>' }}
            </li>
          {% endfor %}
        </ul>
        <div class="text-justify">
          {{ palestra.info|linebreaksbr|default:'<i>Sem informações</i>' }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
