{% extends 'palestra/base.html' %}
{% load palestras %}


{% block content %}
  <section>
    <div class="row">
      <div class="small-12 coluns">
        {% include 'palestra/pagination.html' %}
        <ul class='palestra_list'>
          {% for palestra in palestra_list %}
            <li>
              <h1><a href="{% url 'palestra:palestra' palestra.slug %}">{{ palestra }}</a></h1>
              <ul>
                <li>
                  <b>Palestrante:</b>
                  {% palestrantes_links palestra.palestrantes.all %}
                </li>
                <li>
                  <b>Tags:</b>
                  {% tags_labels palestra.tags.all %}
                </li>
                <li class="text-justify">
                  <b>Info:</b>
                  {{ palestra.info|linebreaksbr|default:'<i>Sem informações</i>' }}
                </li>
              </ul>
            </li>
          {% endfor %}
        </ul>
        {% include 'palestra/pagination.html' %}
      </div>
    </div>
  </section>
{% endblock %}
