{% extends 'palestra/base.html' %}
{% load palestras %}


{% block content %}
  <section>
    <div class="row">
      <div class="small-12 columns">
        <ul class="square">
          {% for tipotag in tipotag_list %}
            <li>
              <b>{{ tipotag }}</b>
              <ul>
                {% for tag in tipotag.tags.all %}
                  <li>{% tag_label tag %}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
